<div class="container">
    <h1 class="text-center">Formulario</h1>
    <form method="get" action="/pages/create">
        <div class="container">
            <div class="form-row pb-3">
                <div class="col">
                    Name: <input name="name" />
                </div>

                <div class="col pt-3">
                    State: <select name="state">
                                <option value="propuesta">propuesta</option>
                                <option value="en progreso">en progreso</option>
                                <option value="terminado">terminado</option>
                            </select>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-3">
                Description: <textarea name="description"></textarea>
            </div>
        </div>

        <div class="container">
            <div class="row pt-3">
                <div class="col-3">
                    Start: <input name="start" type="date" />
                </div>

                <div class="col-3">
                    End: <input name="end" type="date" />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col pt-3">
                <input type="submit" class="btn btn-primary" value="guardar">
            </div>
        </div>
    </form>
</div>
